{{> navbar-home}}
<div class="page-header header-filter" data-parallax="true">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="title">Hệ Thống Bán Vé Xe Khách Online</h2>
      </div>
      <div class="col-md-12">
        <a href="/vehicle/manage-vehicle" class="btn btn-rose"><i class="fa fa-plus"></i>Quản lý xe</a>  
      </div>
    </div>
  </div>
</div>
<div class="main main-raised">
  <div class="container">
    <div class="material-datatables home-table">
              <div width="300px">
                <button id="reader" class="btn btn-rose"><i class="fa fa-plus"></i>Quét xe</button>  
              </div>
                    <table id="datatables" class="table table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                      <thead>
                        <tr>
                            <th style="padding-right: 10px!important">#</th>
                            <th>Tên xe</th>
                            <th>Màu xe / Loại xe</th>
                            <th>QR Code</th>
                            <th class="disabled-sorting text-right">Hành động</th>
                        </tr>
                      </thead>
                      <tfoot>
                        <tr>
                            <th >#</th>
                            <th>Tên xe</th>
                            <th>Màu xe / Loại xe</th>
                            <th>QR Code</th>
                            <th class="text-right">Hành động</th>
                        </tr>
                      </tfoot>
                      <tbody>
                        {{#each listVehicles}}
                        <tr>
                          <td class="text-center">{{sumIndex @index 1}}</td>
                          <td class="vehicle-info" data-id="{{this._id}}">{{this.nameVehicle}}</td>
                          <td class="vehicle-info" data-id="{{this._id}}">{{this.colorVehicle}}</td>
                          <td id="{{this._id}}">
                            <img data-id="{{this._id}}" src="{{{this.qrData}}}"/>
                          </td>
                          <td class="td-actions text-right">
                            <a href="#" class="btn btn-link btn-warning btn-just-icon qr-code" data-toggle="tooltip" data-placement="left" title="In QR Code" data-id="{{this._id}}">
                              <i class="material-icons">qr_code_2</i>
                            </a>
                            <a href="" rel="tooltip" class="btn btn-link btn-success btn-just-icon" 
                            data-placement="left" title="Chỉnh sửa" data-toggle="modal" data-target="#edit-new-modal-{{this._id}}" data-id="{{this._id}}">
                              <i class="material-icons">edit</i>
                            </a>
                            <a href="" rel="tooltip" class="btn btn-link btn-danger btn-just-icon" 
                            data-placement="left" title="Xoá" data-toggle="modal" data-target="#delete-new-modal" data-id="{{this._id}}">
                              <i class="material-icons">close</i>
                            </a>
                          </td>
                        </tr>
                        {{/each}}
                      </tbody>
                    </table>
        </div>
  </div>
</div>
<footer class="footer footer-default">
  <div class="container">
    <div class="copyright text-center">
      &copy;
      <script>
        document.write(new Date().getFullYear())
      </script>, made with <i class="material-icons">favorite</i> by
      <a href="#" target="_blank">VeXe.Online</a>
    </div>
  </div>
</footer>
<script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
<script>
  const html5QrCode = new Html5Qrcode("reader");
  
  const qrCodeSuccessCallback = (decodedText, decodedResult) => {
    /* handle success */
    console.log(decodedText);
  };

  const config = { fps: 10, qrbox: { width: 250, height: 250 } };

  // Select back camera or fail with `OverconstrainedError`.
  html5QrCode.start({ facingMode: "environment" }, config, qrCodeSuccessCallback);

  // Stop scan 
  html5QrCode.stop().then((ignore) => {
  // QR Code scanning is stopped.

  }).catch((err) => {
  // Stop failed, handle it.
  });
</script>